
html{
    /* height: 100%; */
    /* width: 100%; */
    background-color: rgb(32,32,32);

}
body{
    /* height: 100%;
    width: 100%; */
    /* border: 1px solid red; */
    height: 100vh;
    width: 100vw;
}
.Registration{
    /* border: 3px solid white; */
    /* width: 100%; */
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* max-width: 50%; */
    /* max-height: 100%; */
}
#full-page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.input-data{
    background-color: rgba(0, 0, 0, 0);
    border-color: rgb(110,110,110);
    color: rgba(255, 255, 255, 0.6);
    /* border: 1px solid; */
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-style: none;
    border: 1px solid rgb(110,110,110);
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;

}
.input-data input{
    background-color: rgba(0, 0, 0, 0);
    border-color: rgb(110,110,110);
    width: 100%;
    color: rgba(255, 255, 255);
    border-style: none;
    /* border: 1px solid; */
}
.input-data textarea{
    background-color: rgba(0, 0, 0, 0);
    border-color: rgb(110,110,110);
    width: 100%;
    color: rgba(255, 255, 255);
    border-style: none;

}
.submit{
    background-color: #ffffff0D;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid;
    text-align: center;
    width: 100%;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    height: 30px;
    margin-top: 5px;
}
#image-half{
    max-width: 50%;
    max-height: 90%;
    /* width: 50%; */
}
#profile{
    max-width: 80%;
    /* max-height: 45%; */
}
#company-info{
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.8);
}
#form-half{
    max-width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* border: 1px solid white; */
    align-items: center;
    /* border: 1px solid white; */
    /* align-items: center; */
}
#form-half div{
    padding: 10px;
    justify-content: center;
    display: flex;
}
.Registration{
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: rgb(32,32,32);
}
.labels{
    background-color: #ffffff0D;
    color: rgba(255, 255, 255, 0.6);
    /* border-radius: 5px; */
    border: 1px solid rgb(110,110,110);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-left: 0.5rem;
}
.form-row{
    /* border: 1x solid white; */
    margin: 0;
    padding: 0;
    border-spacing: 0;
}
table{
    width: 80%;
    /* padding: 10%; */
    margin: auto;
    /* align-items: center; */
}
.reg-form{
    /* width: 100%; */
    max-height: 100%;
    max-width: 100%;
    min-width: 100%;
}
@media only screen and (max-width: 768px) {
    #full-page{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
  }
@media only screen and (max-height: 960px) {
    #image-half{
        display: none;
    }
  }